<div class="centered-content"> <!--To center the box-->
    <div class="modal-box">
        <h1 class="title">
            Let's create..
        </h1>

        <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter task name...">
        <br><br>   <!--to give space between the input box and buttons-->
            <div class="buttons is-right">
                <button class="button is-medium" routerLink="/">Cancel</button>
                <button class="button is-primary has-text-white is-medium"(click)="createTask(taskTitleInput.value)">Create</button>
            </div>
        
    </div>
</div>